#Lucida {
    font-family: 'Lucida Sans';
    margin-left: 10px;
    -webkit-text-stroke: 2px black;
    
}

body {
    background-color: #000000;
    color: #FFFFFF; 
    margin-left: 50px;
    margin-right: 50px;
    
 }
 
ol li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    text-decoration: underline;
    padding-bottom: 10px;

}

ul li {
    font-family: cursive;
    font-size: 1em;
    text-decoration: none;

}

p {
    font-family: cursive;
}




footer {
    background-color: #393838;
    font-size: 15px;
    text-align: center;
    height: 50px;
}

header {
    background-color: #393838;
    
}

img {
    border: 2px solid #000000;
    margin-left: 10px;
}